.root {
  margin: 16px auto;
}

.card {
  display: flex;
}

.cardDetails {
  flex: 1;
}

.cardMedia {
  height: 230px;
  width: 160px;
  margin-bottom: 50%;
  opacity: .8;
}

.collapse {
  flex: 1;
}
